<div class="col-md-4 ">
  <h3>ADD BOOK</h3>
  <form id="addBook" action="">
    <div class="form-group">
      <input class="form-control" id="nameInput" type="text" name="name" placeholder="Name" required>
    </div>
    <div class="form-group">
      <input class="form-control" id="authorInput" type="text" name="author" placeholder="Author" required>
    </div>
    <div class="form-group">
      <input class="form-control" id="yearInput" type="number" name="year" placeholder="Year" required>
    </div>
    <button class="btn btn-primary form-control" id="sender" type="submit">SUBMIT</button>
  </form>
</div>

